/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 30px;
    }
    .about .about-content .left,
    .about .about-content .right {
        width: 100%;
    }
    .about .about-content .left img {
        width: 100%;
        height: auto;
    }
    .services .serv-content .card,
    .teams .carousel .card {
        width: 100%;
    }
    .skills .skills-content .column {
        width: 100%;
    }
    .contact .contact-content .column {
        width: 100%;
    }
}
